.section

  //- The Activity Timeline View
  
      
  //- The Feature Box Row  
  .row
    .span8
      .row
        .span4
          .box.shadow#hello
            .well
              h3 Hello!
              img.shadow(src='/images/me.jpg') 
              :markdown
                Thanks for stopping by! Welcome to the personal home page
                of Andrew F. Hart, a software developer and entrepreneur currently living
                and working in Los Angeles, California. Take a look around,
                and feel free to get in touch!
        .span4
          .box.shadow#features
            .well
              h3 Learn More:
              .span2
                ul.iconified
                  li
                    i.icon-user
                    a(href='/about') About
                  li
                    i.icon-folder-open
                    a(href='/portfolio') Portfolio
                  li
                    i.icon-file
                    a(href='http://cvmeter.com/andrewfhart/cv') Resume
              .span2.last
                ul.iconified
                  li
                    i.icon-fire
                    a(href='/reading') Latest
                  li
                    i.icon-book
                    a(href='/publications') Publications
                  li
                    i.icon-eye-open
                    a(href='/presentations') Presentations
              br.clear
      .row
        .span4
          .box.shadow#reading
            h3 What I'm Reading Online:
            ul.list
              each r in reading
                label = r.title && r.title.length > 0 ? r.title : r.url
                date  = new Date(r.time).toDateString()             
                li
                  span #{date}: 
                  a(href=r.url) #{label} 
      
            span
              a(href='/reading') more of what I've read

          .box.short.shadow#social
            h3 Elsewhere on the Web:
            p There are lots of different ways to stay in touch with me.
              | Here are just a few...
              
            a(href='http://twitter.com/andrewfhart',target='_new') 
              img(src='/images/icons/twitter-32.png')
            a(href='http://facebook.com/andrewfhart',target='_new') 
              img(src='/images/icons/facebook-32.png')
            a(href='http://flickr.com/photos/andrew',target='_new') 
              img(src='/images/icons/flickr-32.png')
            a(href='http://www.linkedin.com/pub/andrew-hart/3/b98/594',target='_new') 
              img(src='/images/icons/linkedin-32.png')
            a(href='http://andrewfhart.tumblr.com/',target='_new') 
              img(src='/images/icons/tumbler-32.png')
            a(href='http://youtube.com/andrewfhart',target='_new') 
              img(src='/images/icons/youtube-32.png')


        .span4
          .box.shadow#projects
            h3 Current Projects:
            :markdown
              [![V-FASTR](/images/portfolio/thumbnails/vfastr-02.png)](/portfolio/vfastr)
              [V-FASTR Data Portal](/portfolio/vfastr) - a
              data review and visualization utility for collaborative classification
              of fast-transient radioastronomy observations.
              
              
              [![Snow Data System](/images/portfolio/thumbnails/snow-03.png)](/portfolio/snow)
              [Snow Data System](/portfolio/snow) - a near real time data
              collection and analysis framework for understanding and
              predicting water resources.
              
            span
              a(href='/portfolio') more projects in my portfolio
            
          .box.short.shadow#cv
            h3 Download my CV:
            a(href='http://cvmeter.com/andrewfhart/cv')
              img#pdf(src='images/PDF.png')
            p 
              :markdown
                Download a condensed (single page) version of my education, 
                capabilities, and experience.

    .span4
      .box.shadow#news
        .well
          h3 Latest News:
          ul.list
            each n in news
              label = n.title && n.title.length > 0 ? n.title : n.url
              date  = new Date(n.date).toDateString()             
              li
                span #{date}: 
                a(href=n.url) #{label}
                p=n.text
                
    .span4
          .box.shadow#photos
            h3 Recent Photographs:
            ul.thumbnails
              each photo in flickr.articles
                li.span1
                  a.thumbnail(href=photo.link)
                    img(src=photo.image.url)
          

        
    

